<section id="left">
	<p> Autor: Francisco Onieva</p>
	<img src="images/foto.jpg" alt="foto" style="width:200px; height:200px">
</section>
<section id="right">
	<iframe width="320" height="260" src="http://www.youtube.com/embed/XGSy3_Czz8k">
	</iframe>
</section>