<section id="left">
	<p> Autor: <%= author ></p>
	<img src="images/foto.jpg" alt="foto" style="width:200px; height:200px">
</section>
<section id="right">
	<iframe width="320" height="260" src="https://www.youtube.com/embed/aNkpabIa6hM">
	</iframe>
</section>