<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<meta charset="utf-8">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<form method="get" action="/quizes/answer">
			Pregunta: <%= pregunta %> <p>
			<input type"text" name="respuesta" placeholder="Respuesta">
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>